APP_ENV=development

# development = 100.98.160.119 | production = 127.0.0.1
DB_HOST=100.98.160.119
DB_PORT=3306
DB_USER=your_db_user
DB_PASS=your_db_pass
DB_NAME=movira_core_dev

CORE_SCHEMA=agentra_dev

JWT_SECRET="MOVIRA_AGENTRA_qwertyuiop"
